body {
    font-family: arial;
    background: #f2f2f2;
    padding: 40px;
}

.box {
    width: 380px;
    background: white;
    padding: 20px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding-right: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.output input {
    width: 100%;
    padding: 10px;
    font-size: 19px;
    margin-right: 20px;
}

.controls {
    margin-top: 20px;
}

.controls label {
    display: block;
    margin-top: 10px;
    font-size: 17px;
   
}
#length{
    height: 20px;
    width: 100px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 6px;
}

.checks label {
    display: block;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    font-size: larger;
    background: #008cff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bolder;
}

button:hover {
    background: #006fcc;
}
